@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFStardust';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    /* background-image: url('https://i.pinimg.com/736x/11/0f/de/110fde22ab1c775994acf0be0d514813.jpg'); */
    background-image: url('https://github.com/mimieee122/mslogo/blob/main/%EB%A1%9C%EA%B7%B8%EC%9D%B8%20%EB%B0%94%ED%83%95%ED%99%94%EB%A9%B4.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blue {
    font-family: 'PFStardust';

    font-size: 20px;

    -webkit-text-stroke: 1px black;
    letter-spacing: 1px;
}

.login {
    font-family: 'PFStardust';
    font-size: 20px;
    -webkit-text-stroke: 1.5px black;
    letter-spacing: 1px;
}

.button {
    width: 350px;
    height: 50px;
    background-color: blue;
    border: white 4px solid;
    border-radius: 10px;
}

.signIn {
    -webkit-text-stroke: 4px black;
}

/* .logIn {
    width: 300px;
    height: 50px;
    background-color: white;
    border: blue 6px solid;
    border-radius: 10px;
} */
