@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
